<div class="banner f" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "cocktails.png", height: 300, width: 400, crop: :fill %>');">
  <div class="container text-center f">
    <div class="text-justify"><%= link_to 'Back', cocktails_path, class: "btn btn-danger" %></div>
    <h2>Ajouter votre cocktail</h2>
      <div class="col-xs-12 col-md-offset-4 col-md-4 col-offset-4 text-center">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name, label: 'Give it a F***ing Name :'%>
        <%= f.input :photo, label: 'Insert your photo :' %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Ajoutez votre Cocktail", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
